<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conversions</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>C -> F</th>
        <th>F -> C</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <form action="/ctof" method="get">
                <table>
                    <tr>
                        <td>
                            <input type="text" name="celsius">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Convert">
                        </td>
                    </tr>
                </table>
            </form>
        </td>
        <td>
            <form action="/ftoc" method="get">
                <table>
                    <tr>
                        <td>
                            <input type="text" name="celsius">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Convert">
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>